Cargo.lock
target/
.vscode/
exercises/03_if/if1.rs
exercises/03_if/if2.rs
exercises/03_if/if3.rs
exercises/04_primitive_types/primitive_types1.rs
exercises/04_primitive_types/primitive_types2.rs
exercises/04_primitive_types/primitive_types3.rs
exercises/04_primitive_types/primitive_types4.rs
exercises/04_primitive_types/primitive_types5.rs
exercises/04_primitive_types/primitive_types6.rs
exercises/05_vecs/vecs1.rs
exercises/05_vecs/vecs2.rs
exercises/06_move_semantics/move_semantics1.rs
exercises/06_move_semantics/move_semantics2.rs
exercises/06_move_semantics/move_semantics3.rs
exercises/06_move_semantics/move_semantics4.rs
exercises/06_move_semantics/move_semantics5.rs
exercises/07_structs/structs1.rs
exercises/07_structs/structs2.rs
exercises/07_structs/structs3.rs
exercises/08_enums/enums1.rs
exercises/08_enums/enums2.rs
exercises/08_enums/enums3.rs
exercises/09_strings/strings1.rs
exercises/09_strings/strings2.rs
exercises/09_strings/strings3.rs
exercises/09_strings/strings4.rs
exercises/10_modules/modules1.rs
exercises/10_modules/modules2.rs
exercises/10_modules/modules3.rs
exercises/11_hashmaps/hashmaps1.rs
exercises/11_hashmaps/hashmaps2.rs
exercises/11_hashmaps/hashmaps3.rs
exercises/12_options/options1.rs
exercises/12_options/options2.rs
exercises/12_options/options3.rs
exercises/13_error_handling/errors1.rs
exercises/13_error_handling/errors2.rs
exercises/13_error_handling/errors3.rs
exercises/13_error_handling/errors4.rs
exercises/13_error_handling/errors5.rs
exercises/13_error_handling/errors6.rs
exercises/14_generics/generics1.rs
exercises/14_generics/generics2.rs
exercises/15_traits/traits1.rs
exercises/15_traits/traits2.rs
exercises/15_traits/traits3.rs
exercises/15_traits/traits4.rs
exercises/15_traits/traits5.rs
exercises/16_lifetimes/lifetimes1.rs
exercises/16_lifetimes/lifetimes2.rs
exercises/16_lifetimes/lifetimes3.rs
exercises/17_tests/tests1.rs
exercises/17_tests/tests2.rs
exercises/17_tests/tests3.rs
exercises/18_iterators/iterators1.rs
exercises/18_iterators/iterators2.rs
exercises/18_iterators/iterators3.rs
exercises/18_iterators/iterators4.rs
exercises/18_iterators/iterators5.rs
exercises/19_smart_pointers/arc1.rs
exercises/19_smart_pointers/box1.rs
exercises/19_smart_pointers/cow1.rs
exercises/19_smart_pointers/rc1.rs
exercises/20_threads/threads1.rs
exercises/20_threads/threads2.rs
exercises/20_threads/threads3.rs
exercises/21_macros/macros1.rs
exercises/21_macros/macros2.rs
exercises/21_macros/macros3.rs
exercises/21_macros/macros4.rs
exercises/22_clippy/clippy1.rs
exercises/22_clippy/clippy2.rs
exercises/22_clippy/clippy3.rs
exercises/23_conversions/as_ref_mut.rs
exercises/23_conversions/from_into.rs
exercises/23_conversions/from_str.rs
exercises/23_conversions/try_from_into.rs
exercises/23_conversions/using_as.rs
exercises/quizzes/quiz1.rs
exercises/quizzes/quiz2.rs
exercises/quizzes/quiz3.rs
exercises/12_options/README.md
exercises/09_strings/README.md
exercises/07_structs/README.md
exercises/03_if/README.md
exercises/15_traits/README.md
exercises/19_smart_pointers/README.md
exercises/17_tests/README.md
exercises/20_threads/README.md
exercises/quizzes/README.md
exercises/23_conversions/README.md
exercises/06_move_semantics/README.md
exercises/04_primitive_types/README.md
exercises/18_iterators/README.md
exercises/22_clippy/README.md
exercises/16_lifetimes/README.md
exercises/05_vecs/README.md
exercises/21_macros/README.md
exercises/13_error_handling/README.md
exercises/11_hashmaps/README.md
exercises/10_modules/README.md
exercises/08_enums/README.md
exercises/14_generics/README.md
solutions/03_if/if1.rs
solutions/03_if/if2.rs
solutions/03_if/if3.rs
solutions/04_primitive_types/primitive_types1.rs
solutions/04_primitive_types/primitive_types2.rs
solutions/04_primitive_types/primitive_types3.rs
solutions/04_primitive_types/primitive_types4.rs
solutions/04_primitive_types/primitive_types5.rs
solutions/04_primitive_types/primitive_types6.rs
solutions/05_vecs/vecs1.rs
solutions/05_vecs/vecs2.rs
solutions/06_move_semantics/move_semantics1.rs
solutions/06_move_semantics/move_semantics2.rs
solutions/06_move_semantics/move_semantics3.rs
solutions/06_move_semantics/move_semantics4.rs
solutions/06_move_semantics/move_semantics5.rs
solutions/07_structs/structs1.rs
solutions/07_structs/structs2.rs
solutions/07_structs/structs3.rs
solutions/08_enums/enums1.rs
solutions/08_enums/enums2.rs
solutions/08_enums/enums3.rs
solutions/09_strings/strings1.rs
solutions/09_strings/strings2.rs
solutions/09_strings/strings3.rs
solutions/09_strings/strings4.rs
solutions/10_modules/modules1.rs
solutions/10_modules/modules2.rs
solutions/10_modules/modules3.rs
solutions/11_hashmaps/hashmaps1.rs
solutions/11_hashmaps/hashmaps2.rs
solutions/11_hashmaps/hashmaps3.rs
solutions/12_options/options1.rs
solutions/12_options/options2.rs
solutions/12_options/options3.rs
solutions/13_error_handling/errors1.rs
solutions/13_error_handling/errors2.rs
solutions/13_error_handling/errors3.rs
solutions/13_error_handling/errors4.rs
solutions/13_error_handling/errors5.rs
solutions/13_error_handling/errors6.rs
solutions/14_generics/generics1.rs
solutions/14_generics/generics2.rs
solutions/15_traits/traits1.rs
solutions/15_traits/traits2.rs
solutions/15_traits/traits3.rs
solutions/15_traits/traits4.rs
solutions/15_traits/traits5.rs
solutions/16_lifetimes/lifetimes1.rs
solutions/16_lifetimes/lifetimes2.rs
solutions/16_lifetimes/lifetimes3.rs
solutions/17_tests/tests1.rs
solutions/17_tests/tests2.rs
solutions/17_tests/tests3.rs
solutions/18_iterators/iterators1.rs
solutions/18_iterators/iterators2.rs
solutions/18_iterators/iterators3.rs
solutions/18_iterators/iterators4.rs
solutions/18_iterators/iterators5.rs
solutions/19_smart_pointers/arc1.rs
solutions/19_smart_pointers/box1.rs
solutions/19_smart_pointers/cow1.rs
solutions/19_smart_pointers/rc1.rs
solutions/20_threads/threads1.rs
solutions/20_threads/threads2.rs
solutions/20_threads/threads3.rs
solutions/21_macros/macros1.rs
solutions/21_macros/macros2.rs
solutions/21_macros/macros3.rs
solutions/21_macros/macros4.rs
solutions/22_clippy/clippy1.rs
solutions/22_clippy/clippy2.rs
solutions/22_clippy/clippy3.rs
solutions/23_conversions/as_ref_mut.rs
solutions/23_conversions/from_into.rs
solutions/23_conversions/from_str.rs
solutions/23_conversions/try_from_into.rs
solutions/23_conversions/using_as.rs
solutions/quizzes/quiz1.rs
solutions/quizzes/quiz2.rs
solutions/quizzes/quiz3.rs
