Cargo.lock
target/
.vscode/
exercises/14_generics/generics2.rs
exercises/15_traits/traits1.rs
exercises/15_traits/traits2.rs
exercises/15_traits/traits3.rs
exercises/15_traits/traits4.rs
exercises/15_traits/traits5.rs
exercises/16_lifetimes/lifetimes1.rs
exercises/16_lifetimes/lifetimes2.rs
exercises/16_lifetimes/lifetimes3.rs
exercises/17_tests/tests1.rs
exercises/17_tests/tests2.rs
exercises/17_tests/tests3.rs
exercises/18_iterators/iterators1.rs
exercises/18_iterators/iterators2.rs
exercises/18_iterators/iterators3.rs
exercises/18_iterators/iterators4.rs
exercises/18_iterators/iterators5.rs
exercises/19_smart_pointers/arc1.rs
exercises/19_smart_pointers/box1.rs
exercises/19_smart_pointers/cow1.rs
exercises/19_smart_pointers/rc1.rs
exercises/20_threads/threads1.rs
exercises/20_threads/threads2.rs
exercises/20_threads/threads3.rs
exercises/21_macros/macros1.rs
exercises/21_macros/macros2.rs
exercises/21_macros/macros3.rs
exercises/21_macros/macros4.rs
exercises/22_clippy/clippy1.rs
exercises/22_clippy/clippy2.rs
exercises/22_clippy/clippy3.rs
exercises/23_conversions/as_ref_mut.rs
exercises/23_conversions/from_into.rs
exercises/23_conversions/from_str.rs
exercises/23_conversions/try_from_into.rs
exercises/23_conversions/using_as.rs
exercises/quizzes/quiz3.rs
exercises/15_traits/README.md
exercises/19_smart_pointers/README.md
exercises/17_tests/README.md
exercises/20_threads/README.md
exercises/quizzes/README.md
exercises/23_conversions/README.md
exercises/18_iterators/README.md
exercises/22_clippy/README.md
exercises/16_lifetimes/README.md
exercises/21_macros/README.md
exercises/14_generics/README.md
solutions/14_generics/generics2.rs
solutions/15_traits/traits1.rs
solutions/15_traits/traits2.rs
solutions/15_traits/traits3.rs
solutions/15_traits/traits4.rs
solutions/15_traits/traits5.rs
solutions/16_lifetimes/lifetimes1.rs
solutions/16_lifetimes/lifetimes2.rs
solutions/16_lifetimes/lifetimes3.rs
solutions/17_tests/tests1.rs
solutions/17_tests/tests2.rs
solutions/17_tests/tests3.rs
solutions/18_iterators/iterators1.rs
solutions/18_iterators/iterators2.rs
solutions/18_iterators/iterators3.rs
solutions/18_iterators/iterators4.rs
solutions/18_iterators/iterators5.rs
solutions/19_smart_pointers/arc1.rs
solutions/19_smart_pointers/box1.rs
solutions/19_smart_pointers/cow1.rs
solutions/19_smart_pointers/rc1.rs
solutions/20_threads/threads1.rs
solutions/20_threads/threads2.rs
solutions/20_threads/threads3.rs
solutions/21_macros/macros1.rs
solutions/21_macros/macros2.rs
solutions/21_macros/macros3.rs
solutions/21_macros/macros4.rs
solutions/22_clippy/clippy1.rs
solutions/22_clippy/clippy2.rs
solutions/22_clippy/clippy3.rs
solutions/23_conversions/as_ref_mut.rs
solutions/23_conversions/from_into.rs
solutions/23_conversions/from_str.rs
solutions/23_conversions/try_from_into.rs
solutions/23_conversions/using_as.rs
solutions/quizzes/quiz3.rs
